.center{
    text-align: center;
}

.pater{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    display: flex;flex-wrap: wrap;text-align:center;justify-content: center;
}

.linone{
    list-style:none;
}

.card{
    margin:5px 0 10px 0;
}

.card-img-top{
    width:200px;height:80px;margin-left:16%;
}

.card-body{

}

.mrg{
    margin-top:20px;
}

.panel-body{
    padding:30px;
}

.select{
    height:40px;
}

.bt{
    padding:8px 100px;margin-top:25px;
}

.none{
    display :none;
}

.backimg{
    display:block;align-items: center;justify-content: center; background-color:white;height:500px;
    border: 2px solid rgb(237, 241, 239);
    padding: 10px;
    border-radius: 25px;
}

.start {
    text-align: start;
  }

  .navbar-collapse.collapse.in {
    display: block!important;
  }

  @media screen and (min-width: 601px) {
    .text {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    .text {
      font-size: 30px;
    }
  }

  .link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}


.round {
	background-color: AliceBlue;

}

.exe{
    color: black;
    font-size: 19px;
    height:150px;width:160px; display: block;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.exe:hover:enabled {background-color:#008CBA;
    ;}


.textstyle{
    font-size: 40px;
    background-color: grey;
}

@media only screen and (max-width: 600px) {

        .exe{
            color: black;
            font-size: 15px;
            height: 90px;
            width: 130px;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        .rest{
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
        .next{
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }

  }
